body {
font-family: 'Press Start 2P', cursive;
background-color: #000;
color: #fff;
margin: 0;
padding: 0;
}

header {
/*background-color: #3498db;*/
width: 100%; /* Add this */
height: 60px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.logo {
font-size: 24px;
font-weight: bold;
color: #fff;
}

ul {
list-style: none;
display: flex;
}

li {
margin-right: 20px;
}

a {
text-decoration: none;
color: #fff;
}

.games-container {
display: flex; /* Use flexbox */
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;
overflow: auto;
height: calc(100% - 80px);
text-align: center;
}

.cart-list { 
display: flex;
flex-wrap: nowrap;
overflow: auto;
max-width: 200vh;
}

.game {
flex: 0 0;
background-color: #f4f4f4;
padding: 20px;
margin: 10px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: center;
color: #333;
height: 450px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.game img {
width: 200px;
height: 240px;
border-radius: 4px;
margin-bottom: 10px;
}

.info {
margin: 5px 0;
}

button {
background-color: #3498db;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

footer {
/*background-color: #3498db;*/
padding: 10px 0;
text-align: center;
width: 100%; /* Add this */
height: 20px;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
margin: auto;
}

/* Form styling */
.form-container {
max-width: 400px;
margin: auto; /* Center horizontally */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; /* Center vertically */
background-color: #f4f4f4;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
width: 100%;
}

form label {
display: block;
margin-bottom: 8px;
color: #333;
}

form input {
width: 100%;
padding: 10px;
margin-bottom: 16px;
border: 1px solid #ddd;
border-radius: 4px;
box-sizing: border-box;
}

form button {
width: 100%;
background-color: #3498db;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.form-feedback {
margin-top: 10px;
font-size: 14px;
color: #4caf50;
}

.form-feedback-error {
margin-top: 10px;
font-size: 14px;
color: #ff1717;
}

/* Link styling */
.form-feedback a {
color: #3498db;
text-decoration: none;
}

.form-feedback a:hover {
text-decoration: underline;
}